{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-primary alert-dismissible fade show" role="alert">
		<strong>{{ name|upper }}</strong>{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

{% if name %}
	<h1>Hello {{ name|capitalize }}</h1>
	<h6> {{ email }}</h6>
{% else %}
	<h1>User List:</h1>
	<form action="/user/add" method="POST">
		<div class="form_div">
			<input type="text" class="form-control" placeholder="Your Name" name="name"/><br>
			<input type="email" class="form-control" placeholder="Your E-mail" name="email"/><br>
			<input type="password" class="form-control" placeholder="Your Password" name="password"/><br>
			<br>
			<input type = "submit" value = "Submit" class="btn btn-primary"/>
		</div>
	</form>


{% endif%}
{% endblock %}