{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <strong>{{ name|upper }}</strong>{{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<h2 style="color: #087197;">Our Users</h2>


<table class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th>More</th>
      <th scope="col">Danger</th>
    </tr>
  </thead>

  <tbody>
    {% for row in users %}
        <tr>
            <th scope="row">{{ row[0] }}</th>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td><a href="{{url_for('update_user', id = row[0] )}}">View/Edit</a></td>
            <td><a href="{{url_for('delete_user', id = row[0] )}}" class = "btn btn-success"> Delete </a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}