{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <strong>{{ name|upper }}</strong>{{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

{% if name %}
	<h1>Hello {{ name|capitalize }} </h1>
{% else %}
    <h1>Hello What's your name..?</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        <br>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    
{% endif%}

{% endblock %}