{% extends 'base.html' %}
{% block content %}

<div>
	<div class="row user-profile">
		<div class="col-md-6 col-sm-6 col-lg-6 user-profile-section">
			<center>
				{% for row in datas%}
				<div class="user-profile-image">
					<img src="{{ row[7] }}"><br><br>
					{% if session['username'] == row[2] %}
					<a href="{{ url_for('add_profile') }}" class="btn newblogbtn">Change Profile</a>
					{% endif %}
				</div>
					<h1>{{ row[2] }}</h1><br>
				<div class="user-profile-details">	
					<h5>Name : {{ row[1] }}</h5><br>
					<b>Contact : </b> {{ row[3] }}<br><br>
					<h5>About Me</h5>
					<p>About me : {{ row[6] }}</p>
					<p>Joined on : {{ row[5] }}</p>
				</div>

			    {% if session['username'] == row[2] %}
			    <div class="user-profile-things">
			    	<a href="" class="btn newblogbtn user-delete-btn" style="color: red;" data-bs-toggle="modal" data-bs-target="#delete_account_Modal">Delete Account</a>
			    	<a href="{{url_for('logout')}}" class="btn newblogbtn user-logout-btn" style="color: red;">Logout</a>
			    	<a href="{{url_for('edit_profile', userid =  row[0] )}}" class="btn newblogbtn user-edit-btn" style="color: green;">Edit Profile</a>
			    </div>
			    <div class="user-profile-things">
			    	<a href="{{ url_for('view_user_answer') }}" class="btn newblogbtn" style="width: 280px !important; margin-bottom: 20px; background: grey !important; color: white !important; margin-right: 10px;">View Your Answers</a>
			    	<a href="{{ url_for('view_user_question') }}" class="btn newblogbtn" style="width: 280px !important; margin-bottom: 20px; background: grey !important; color: white !important;">View Your Questions </a>
			    </div>
			    		
			    {% endif %}
			    {% endfor %}
			</center>
		</div>
		<div class="col-md-6 col-sm-6 col-lg-6">
			<center>
				<h2 style="text-decoration: underline;">Main Works</h2>
				<p class="blog_error"> {{ blog_notfound_error }} </p>
				<div class="blog-content">
					{% for row in blogs %}
					<div class="blog-user"><i>{{ row[2] }}</i></div>
					<div class="blog-category"><i>{{ row[5] }} : {{ row[6] }}</i></div><br>
					<div class="blog-header"><h2>{{ row[3] }}</h2></div>
						<a href="{{ url_for('user_blog_full', blog_id = row[0])}}">Continue Reading...</a>
					<div class="blog-footer"><hr class="blog-footer-line"></div>
					{% endfor %}
				</div>
			</center>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="delete_account_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Your Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <b>Do You want Delete Your Account..??</b>

        <p>Your account will permanently deleted. You can't be retake this </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <form action="delete_account" method="POST">
        	<button type="submit" class="btn btn-primary">Yes</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}