{% extends 'base.html' %}

{% block content %}

<center>
<h5>Your Blogs....</h5><br><br>
<p class="blog_error">{{ blog_notfound_error }}</p>

<!-- Button trigger modal -->
<button type="button" class="btn newblogbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Create a New Blog
</button>
</center>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">CREATE BLOG</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" id="blog-form">
        	<input type="text" name="blog_heading" placeholder="Heading" class="form-control" /><br>
        	<input type="text" name="blog_category" placeholder="Food, Travel, Movies, Entertainment etc.." class="form-control" /><br>
        	<textarea name="blog_content" placeholder="Content" class="form-control"></textarea><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
        <button class="btn">Upload</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% for row in data %}
<div class="blog-content">
	<div class="blog-user"><i>{{ row[2] }}</i></div>
	<div class="blog-category"><i>{{ row[5] }} : {{ row[6] }}</i></div><br>
	<div class="blog-header"><h2>{{ row[3] }}</h2></div>
	<div class="blog-writing"><p>{{ row[4] }}</div>
	<a href="{{ url_for('user_blog_full', blog_id = row[0])}}">Continue Reading...</a>
	<div class="blog-footer"><hr class="blog-footer-line"></div>
</div>
{% endfor %}

{% endblock %}
