{% extends 'base.html' %}

{% block content %}

<div>
	<form method="POST">
		<center>
			<input type="search" name="qsearch" placeholder="Search any question" class="form-control">
			<br>
		<input type="submit" value="SEARCH" class="btn btn-info form-control" style="width: 50%;">
		</center>
	</form>
</div><br>
{% for row in data %}

<div class="answer-div">
	<h5 style="text-transform: capitalize;">{{ row[2] }} ?</h5>
	<p style="color: green;">Answer : {{ row[4] }}</p>
	<p>category : {{ row[3] }}</p>
	{% if row[4] == 'No Answers Yet' %}
		<p style="color: red">No one get this answer</p>
	{% else %}
	By :<a href="{{ url_for('user_profile', userid = row[1])}}">{{ row[5] }}</a></h3><br><br>
	{% endif %}
	<p>{{ qnot_found  }}</p>
	<a href="{{ url_for('delete_user_q', id =  row[0] )}}" class="b1111">Remove your Question</a>
</div>


{%endfor%}
{% endblock %}